:root {
  --hover: #fee033;
  /* TEMA CLARO */
  --light-titulo-principal: #022144;
  --light-card-titulo: #32333c;
  --light-card-paragrafo: #8a8fa3;
  --light-card-principal: #fafbfc;
  --light-secao-experiencia: #f6f8fc;
  --light-bg: #fff;
  /* TEMA ESCURO */
  --dark-titulo-principal: #022144;
  --dark-card-titulo: #CCCCCC;
  --dark-card-paragrafo: #9F9F9F;
  --dark-card-principal: #fafbfc;
  --dark-secao-experiencia: #393838;
  --dark-bg: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, 'sans-serif';
}